[submodule "delphes"]
	path = delphes
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = delphes
[submodule "checkmate"]
	path = checkmate
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = checkmate
[submodule "topdrawer"]
	path = topdrawer
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = topdrawer
[submodule "madgraph"]
	path = madgraph
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = madgraph
[submodule "madgraph-madanalysis"]
	path = madgraph-madanalysis
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = madgraph-madanalysis
[submodule "madgrapha-pythia-pgs"]
	path = madgraph-pythia-pgs
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = madgraph-pythia-pgs
[submodule "mathematica"]
	path = mathematica
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = mathematica
[submodule "pythia"]
	path = pythia
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = pythia
[submodule "pythia8"]
	path = pythia8
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = pythia8
[submodule "exrootanalysis"]
	path = exrootanalysis
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = exrootanalysis
[submodule "lhapdf"]
	path = lhapdf
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = lhapdf
[submodule "madanalysis5"]
	path = madanalysis5
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = madanalysis5
[submodule "glcli"]
	path = glcli
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = glcli
[submodule "golem95"]
	path = golem95
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = golem95
[submodule "madgraph-pythia8-interface"]
	path = madgraph-pythia8-interface
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = madgraph-pythia8-interface
[submodule "papis"]
	path = papis
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = papis
[submodule "python-habanero"]
	path = python-habanero
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = python-habanero
[submodule "python-papis-python-rofi"]
	path = python-papis-python-rofi
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = python-papis-python-rofi
[submodule "python-papis-rofi-git"]
	path = python-papis-rofi-git
	url = https://aur.archlinux.org/python-papis-rofi-git.git
	branch = python-papis-rofi-git
[submodule "python-pylibgen"]
	path = python-pylibgen
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = python-pylibgen
[submodule "python-pyparser"]
	path = python-pyparser
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = python-pyparser
[submodule "python-filetype"]
	path = python-filetype
	url = https://aur.archlinux.org/python-filetype.git
	branch = python-filetype
