[submodule "delphes"]
	path = delphes
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = delphes
[submodule "checkmate"]
	path = checkmate
	url = https://github.com/JP-Ellis/PKGBUILD.git
	branch = checkmate
